<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mstniy.kelimeezber">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.mstniy.kelimeezber.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="com.mstniy.kelimeezber.AddWordActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.mstniy.kelimeezber.AddLanguageActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:label="KelimeEzber"
            android:name="com.mstniy.kelimeezber.DrawerActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>